<div class="sidebar">
    <div class="sidebar-projects">
        <h4>Projects</h4>
        <% userProjects.forEach((project) => { %>
            <% if (project.completed_date === null) { %>
                <% if (project.project_id == currentProject) { %>
                    <a href="/overview/?project=<%= project.project_id %>" class="current-project"><%= project.project_name %></a>
                <% } else { %>
                    <a href="/overview/?project=<%= project.project_id %>"><%= project.project_name %></a>
                <% } %>
            <% } %>
        <% }); %>
        
        <br/>
        <a href="/new-project">+ New Project</a>
        <a href="#">Completed Projects</a>
    </div>
    <% if (showViews) { %>
        <div class="sidebar-views">
            <h4>Views</h4>
            <% if (currentView === "overview") { %>
                <a href="/overview/?project=<%= currentProject %>" class="current-view">Project Overview</a>
            <% } else { %>
                <a href="/overview/?project=<%= currentProject %>">Project Overview</a>
            <% } %>

            <% if (currentView === "table") { %>
                <a href="/table-view/?project=<%= currentProject %>" class="current-view">Table view</a>
            <% } else { %>
                <a href="/table-view/?project=<%= currentProject %>">Table view</a>
            <% } %>

            <% if (currentView === "kanban") { %>
                <a href="/kanban-view/?project=<%= currentProject %>" class="current-view">Kanban view</a>
            <% } else { %>
                <a href="/kanban-view/?project=<%= currentProject %>">Kanban view</a>
            <% } %>

            <% if (currentView === "priority") { %>
                <a href="/priority-view/?project=<%= currentProject %>" class="current-view">Priority view</a>
            <% } else { %>
                <a href="/priority-view/?project=<%= currentProject %>">Priority view</a>
            <% } %>
            
        </div>
    <% } %>
</div>