<div class="task-categories">
    <% categories.forEach((category)=> { %>
        <!-- this creates a tile for each category -->
        <div id=<%=category.category_name %> data-category=<%= category.category_id %> class="task-category"  style="border-color: <%= category.tile_colour %>;">
                <h2 class="list-header" style="background-color: <%= category.tile_colour %>;">
                    <%= category.category_name %>
                </h2>
                <% tasks.forEach((task)=> { %>
                    <% if (task.category_id===category.category_id) { %>
                        <div data-task=<%=task.task_id %> id="<%=task.task_id %>" class="task" >
                            <!-- this creates a card for each task inside the relevant category tile -->
                            <button class="task-drag" draggable="true">
                                <i class='bx bx-dots-vertical' ></i>
                            </button>
                            
                            <h3 class="task-title">
                                <%= task.task_name %>
                            </h3>
                            <p class="task-text">
                                <%= task.description %>
                            </p>
                            <button class="task-toggle">
                                <i class='bx bx-chevron-down'></i>
                                <i class='bx bx-x' ></i>
                            </button>
                            <button class="edit-task-button active">Edit</button>
                            <button class="close-edit-task-button">Hide edit</button>

                            <div class="edit-task-panel">
                                <form class="edit-task-form" action="post">
                                    <input type="text" value="<%= task.task_name %>">
                                    <input type="text" value="<%= task.description %>">

                                    <button>Submit</button>
                                </form>

                                <!-- <button class="modal-close">Close Modal</button> -->
                            </div>
                        </div>
                        
                    <% } %>
                <% }); %>
        </div>
        <% }); %>
</div>