<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: 'Dashboard' }); %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        <%- include('./partials/navbar'); %>
    </header>

    <content>
        <%- include('./partials/sidebar', { userProjects: userProjects, currentProject: null, showViews: false }); %>
        
        <div class="container">

            <h1><%= userDetails.display_name %>'s Dashboard</h1>
            <% if (userTasks.length > 0) { %>
                <section class="dashboard-charts">
                    <canvas class="dashboard-chart" id="dashboardChart1"></canvas>
                    <canvas class="dashboard-chart" id="dashboardChart3"></canvas>
                    <canvas class="dashboard-chart" id="dashboardChart4"></canvas>
                    <canvas class="dashboard-chart" id="dashboardChart5"></canvas>
                </section>
            <% } else { %>
                <h3>You haven't got any activity to show yet. Get started by creating a project and some tasks!</h3>
            <% } %>
        </div>
    </content>
    <script>
        const JSONprojects = `<%- JSON.stringify(userProjects) %>`;
        const projectsArray = JSON.parse(JSONprojects);
        const JSONtasks = `<%- JSON.stringify(userTasks) %>`;
        const tasksArray = JSON.parse(JSONtasks);
        const JSONpriorities = `<%- JSON.stringify(priorities) %>`;
        const prioritiesArray = JSON.parse(JSONpriorities);
        const JSONcompStats = `<%- JSON.stringify(compStats) %>`;
        const compStatsArray = JSON.parse(JSONcompStats);
    </script>
    <script src="/js/dashboard.js"></script>
</body>

</html>