<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: 'Kanban View' }); %>
</head>

<body>
    <header>
        <%- include('./partials/navbar'); %>
    </header>

    <content>
        <%- include('./partials/sidebar', { userProjects: userProjects, currentProject: currentProject, showViews: true, currentView: "kanban" }); %>
        
        <div class="container">
            <h1>Kanban View</h1>
            <h2 id="project-name"></h2>
            <p id="table-caption"></p>
            <a href="/edit-project/?project=<%= currentProject %>" class="edit-button">Edit Project</a>
            <a href="/new-task/?project=<%= currentProject %>" class="add-button">Add New Task</a>
            <div class="task-categories">
                <% categories.forEach((category)=> { %>
                    <!-- this creates a tile for each category -->
                    <div id=<%=category.completion_status_name %> data-category=<%= category.completion_status_id %> class="task-category"  style="border-color: <%= category.tile_colour %>;">
                            <h3 class="list-header" style="background-color: <%= category.tile_colour %>;">
                                <%= category.completion_status_name %>
                            </h3>
                            <% tasks.forEach((task)=> { %>
                                <% if (task.completion_status_id===category.completion_status_id) { %>
                                    <div data-task=<%=task.task_id %> id="<%=task.task_id %>" class="task" >
                                        <!-- this creates a card for each task inside the relevant category tile -->
                                        <button class="task-drag" draggable="true">
                                            <i class='bx bx-dots-vertical' ></i>
                                        </button>
                                        
                                        <h4 class="task-title">
                                            <%= task.task_name %>
                                        </h4>
                                        <div class="task-tile-label"><%= task.priority_name %></div>

                                        <p class="task-text">
                                            <%= task.description %>
                                        </p>

                                        <a class="edit-task-button active" href="/edit-task/?project=<%= currentProject %>&task=<%= task.task_id %>">Edit</a>
                                        
                                        <button class="task-toggle">
                                            <i class='bx bx-chevron-down'></i>
                                            <i class='bx bx-x' ></i>
                                        </button>
            
                                    </div>
                                    
                                <% } %>
                            <% }); %>
                    </div>
                    <% }); %>
            </div>
        </div>
    </content>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const JSONcategories = `<%- JSON.stringify(categories) %>`;
        const newCats = JSON.parse(JSONcategories);
        const JSONpriorities = `<%- JSON.stringify(priorities) %>`;
        const prioritiesArray = JSON.parse(JSONpriorities);
        const JSONprojects = `<%- JSON.stringify(userProjects) %>`;
        const projectsArray = JSON.parse(JSONprojects);
        const JSONcurrentProj = `<%- JSON.stringify(currentProject) %>`;
        let currentProj = parseInt(JSON.parse(JSONcurrentProj));
    </script>

    <script src="/js/kanban-view.js"></script>
</body>

</html>