<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head', { title: 'Table View' }); %>
</head>

<body>
    <header>
        <%- include('./partials/navbar', { projects: userProjects }); %>
    </header>

    <content>
        <%- include('./partials/sidebar', { userProjects: userProjects }); %>
        <div class="container">
            <h1>Table View</h1>
            <table role="table">
                <caption role="caption">Project Tasks</caption>
                <tbody role="rowgroup">
                    <tr role="row">
                        <th role="columnheader">Task</th>
                        <th role="columnheader">Description</th>
                        <th role="columnheader">Priority</th>
                        <th role="columnheader">Completion</th>
                        <th role="columnheader">Due Date</th>
                    </tr>
                    <% tasks.forEach((task)=> { %>
                        <tr role="row">
                            <td role="cell" data-cell="task"><%= task.task_name %></td>
                            <td role="cell" data-cell="description"><%= task.description %></td>
                            <td role="cell" data-cell="priority"><%= task.priority_id %></td>
                            <td role="cell" data-cell="completion"><%= task.completion_status_id %></td>
                            <td role="cell" data-cell="due-date"><%= task.due_date %></td>
                        </tr>
                    <% }); %>
                </tbody>

            </table>
        </div>
    </content>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="table-view.js"></script>
</body>

</html>